<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97702859580-q88agioh3p0jkfgbua3pochne5f141tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97702859580-q88agioh3p0jkfgbua3pochne5f141tv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97702859580-16i510hbuqkcbhtkjae3u59fc92btl7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXXDGk9W2q1PXynklR7fus1e4om9wQfhA</string>
	<key>GCM_SENDER_ID</key>
	<string>97702859580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almosaaed.wecan</string>
	<key>PROJECT_ID</key>
	<string>almosaedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>almosaedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97702859580:ios:41c0b4ad9a0e7d0cb14439</string>
</dict>
</plist>