<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>97702859580-0qkaur9om6l5cm5u5m6982jrrami3val.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.97702859580-0qkaur9om6l5cm5u5m6982jrrami3val</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>97702859580-16i510hbuqkcbhtkjae3u59fc92btl7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXXDGk9W2q1PXynklR7fus1e4om9wQfhA</string>
	<key>GCM_SENDER_ID</key>
	<string>97702859580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebrain.wecan</string>
	<key>PROJECT_ID</key>
	<string>almosaedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>almosaedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:97702859580:ios:fcd054da64bac0fcb14439</string>
</dict>
</plist>